RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.* - [L]

RewriteRule ^product/(.*)/ product.php?id=$1 [QSA]
RewriteRule ^products/ products.php [QSA]
RewriteRule ^cart/ cart.php [QSA]
RewriteRule ^products products.php [QSA]
RewriteRule ^contact contact.php [QSA]