#register .short{
font-weight:bold;
color:#FF0000;
font-size:larger;
}
#register .weak{
font-weight:bold;
color:orange;
font-size:larger;
}
#register .good{
font-weight:bold;
color:#2D98F3;
font-size:larger;
}
#register .strong{
font-weight:bold;
color: limegreen;
font-size:larger;
}


.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    font-weight: bold;
}
user agent stylesheet
div {
    display: block;
}
.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-progressbar {
    height: 2em;
    text-align: left;
    overflow: hidden;
    width: 300px;
}

#result, #progressbar{
	margin-left:50px;
}
.modal {
  overflow-y:auto;
}